# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# Node (caso seja necessário no futuro)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
